{
    "branches": [
      "master"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/release-notes-generator",
        "@semantic-release/changelog",
        [
             "@semantic-release/git",
            {
            "assets": [
                "package.json",
                "CHANGELOG.md"
            ],
            }
        ],
        "@semantic-release/gitlab",
        [
            "@semantic-release/exec",
            {
              "successCmd": "echo \"VERSION=${nextRelease.version}\" >> .version"
            }
        ]
        
    ]
}