name: Android CI/CD

on:
  push:
    branches:
      - master  # 触发 CI/CD 的分支
  pull_request:
    branches:
      - master  # 监听到 PR 到 main 分支时触发 CI/CD

jobs:
  lint:
    runs-on: ubuntu-latest  # 使用 Ubuntu 作为运行环境

    steps:
      - name: Check out repository
        uses: actions/checkout@v2  # 检出当前仓库代码

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Install commitlint
        run: |
          npm install -g @commitlint/cli @commitlint/config-conventional

      - name: Run commitlint
        run: |
          if [ "${GITHUB_SHA}" = "0000000000000000000000000000000000000000" ]; then
            echo "commitlint from HEAD^"
            npx commitlint -x @commitlint/config-conventional -f HEAD^
          else
            echo "commitlint from ${GITHUB_SHA}"
            npx commitlint -x @commitlint/config-conventional -f "${GITHUB_SHA}"
          fi

  build:
    runs-on: ubuntu-latest  # 使用 Ubuntu 作为运行环境

    steps:
      - name: Check out repository
        uses: actions/checkout@v3  # 检出当前仓库代码

      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'zulu'  # 指定 Java 发行版

      - name: Set up Android SDK
        uses: android-actions/setup-android@v2
        with:
          api-level: 30
          build-tools: 30.0.3

       #  缓存 Gradle 依赖项
      - name: Cache Gradle packages
        uses: actions/cache@v3
        with:
          path: ~/.gradle/caches
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: |
            ${{ runner.os }}-gradle-

      - name: Grant execute permission to gradlew
        run: chmod +x ./gradlew

       #  解码并保存 keystore 文件
      - name: Decode and Save Keystore
        run: |
          echo "${{ vars.KEYSTORE_FILE }}" | base64 -d > app.keystore

      - name: Build the release signed APK
        run: |
          ./gradlew assembleRelease \
            -Pandroid.injected.signing.store.file=app.keystore \
            -Pandroid.injected.signing.store.password=${{ vars.KEYSTORE_PASSWORD }} \
            -Pandroid.injected.signing.key.alias=${{ vars.KEY_ALIAS }} \
            -Pandroid.injected.signing.key.password=${{ vars.KEY_PASSWORD }}

      # 保存生成的 APK 文件
      - name: Upload APK Artifact
        uses: actions/upload-artifact@v3
        with:
          name: app-release-apk
          path: app/build/outputs/apk/release/app-release.apk

  release:
    runs-on: ubuntu-latest
    needs: [build]  # 依赖于 build 作业的成功

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '16'

      - name: Install Semantic Release and dependencies
        run: |
          npm install -g semantic-release @semantic-release/git @semantic-release/github @semantic-release/changelog conventional-changelog-conventionalcommits --force

      - name: Run semantic-release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} 
        run: npx semantic-release

  deploy:
    runs-on: ubuntu-latest  # 使用 Ubuntu 作为运行环境
    needs: [build]  # 部署依赖于构建作业成功

    steps:
      - name: Check out repository
        uses: actions/checkout@v2

      - name: Deploy to the server or another location
        run: |
          echo "Deploying APK or other artifacts"
          # 可以根据需要替换为实际的部署步骤，例如上传到服务器或云平台等

